fig/
dowker_comparison/data/samples/**
dowker_comparison/stats/**
dowker_comparison/stats_macrophage_merged/**
dowker_comparison/stats_old/**
adenoma_carcinoma_pipeline/data
*.png
**/.ipynb_checkpoints
!/adenoma_carcinoma_pipeline/results/pca_pipeline/*.png
__pycache__
*.pkl
!/data/Temp_example/
examples/*.csv
*.egg-info
*.log
*.tar.gz
*.tar.xz
*.xlsx
.python-version
**/scratch.*
.venv
