figures/
abm_dataset_analysis/data/simulation_samples/**
abm_dataset_analysis/stats
abm_dataset_analysis/logs
colorectal_cancer_dataset_analysis/data
colorectal_cancer_dataset_analysis/stats
colorectal_cancer_dataset_analysis/logs
*.png
**/.ipynb_checkpoints
__pycache__
*.pkl
*.egg-info
*.log
*.tar.gz
*.tar.xz
*.xlsx
.python-version
**/scratch.*
.venv
.ruff_cache
